/*
  Global Styles
*/

html {
  font-size: 62.5%;
}

body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
div,
iframe,
span,
ul,
section,
li,
ol,
nav {
  border: 0;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
  font-family: Source Sans Pro, Arial, Helvetica, Verdana, sans-serif;
  color: var(--black);
}

body {
  line-height: 1.6;
}

@media (max-width: 750px) {
  body {
    line-height: 1.4;
  }
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
  font-family: Raleway, Arial, Helvetica, Verdana, sans-serif;
}

h2 {
  font-size: 2.7rem;
  font-weight: 600;
  font-family: Raleway, Arial, Helvetica, Verdana, sans-serif;
}

h3 {
  font-size: 2.11rem;
  font-weight: 600;
  font-family: Raleway, Arial, Helvetica, Verdana, sans-serif;
}

b {
  font-size: 1.1em;
  color: var(--primaryText);
}

a {
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

:root {
  --primary: hsl(166, 80%, 43%);
  --primaryText: hsl(166, 63%, 37%);
  --black: hsl(166, 4%, 13%);
  --primaryLight: hsl(166, 61%, 78%);
  --primaryBackground: hsl(166, 100%, 95%);
  --primaryDark: hsl(166, 51%, 31%);
  --primaryHeader: hsl(166, 52%, 44%)
}

::selection {
  background: var(--primary);
  color: white;
}

::-moz-selection {
  background: var(--primary);
  color: white;
}

header {
  background: var(--primaryHeader);
  padding: .8rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo .name {
  font-size: 2.4rem;
  line-height: normal;
  color: white;
}

header .logo .career {
  color: white;
  font-style: italic
}

header nav a {
  font-weight: 600;
  color: white;
  padding: 0 1.6rem;
  font-size: 2rem;
}

.link {
  color: var(--primaryText);
}

.button {
  font-size: 1.8rem;
  padding: .8rem 1.6rem;
  color: white;
  background: var(--primaryText);
  border-radius: 5px;
  transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  box-shadow: rgba(69, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
  position: relative;
  display: inline-block;
}

.button:hover {
  text-decoration: none;
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 15px 0px, rgba(0, 0, 0, 0.07) 0px 4px 7px 0px;
  transition: all 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.content {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.center {
  text-align: center;
}

/*
  Home Page Styles
*/

.home .hero {
  display: flex;
  justify-content: center;
  padding: 4.8rem 2.4rem;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
}

.home .hero_text {
  padding-right: 4.8rem;
}

.home .hero_text .text {
  padding-top: 2.4rem;
  font-size: 2rem;
}

.home .hero_image {
  height: 500px;
  border-radius: 5px;
  box-shadow: rgba(69, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
}

.portfolio_section {
  padding: 4.8rem 2.4rem;
}

.portfolio_section .inner_wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 3.2rem;
}

.portfolio_section img {
  width: 50%;
  border-radius: 5px;
  align-self: center;
  box-shadow: rgba(69, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
  margin-right: 4.8rem;
}

.portfolio_section .view_portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio_section .text {
  font-size: 1.8rem;
  padding-bottom: 2.4rem;
}

.about {
  padding: 4.8rem;
}

.about .text {
  padding-top: .8rem;
  max-width: 60rem;
  margin: 0 auto;
}

footer {
  background: var(--primaryBackground);
  padding: 2.4rem;
  color: var(--primaryText);
}

footer .subheading {
  color: var(--primaryDark);
}

footer .text {
  font-size: 2rem;
}

.social {
  display: flex;
  justify-content: space-between;
  padding-top: 4.8rem;
}

.social_item {
  display: flex;
  align-items: center;
  padding: .4rem 0;
}

.social_item img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.6rem;
}

.social_item a {
  color: var(--primaryDark);
}

/*
  Portfolio Styles
*/

.portfolio .heading {
  text-align: center;
  padding-top: 2.4rem;
}

.portfolio .description {
  max-width: 60rem;
  margin: 0 auto;
  padding-bottom: 2.4rem;
}

.portfolio .description a {
  color: var(--primaryText);
}

.portfolio_gallery {
  padding: 4.8rem 0;
}

.portfolio_heading {
  text-align: center;
  padding-bottom: .8rem;
}

.portfolio img {
  width: 100%;
  margin: 2.4rem 0;
  box-shadow: rgba(69, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
}

embed {
  width: 100%;
}

@media(max-width: 750px) {
  .social {
    flex-direction: column;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .hero {
    flex-direction: column;
  }

  .home .hero_text {
    padding: 0 0 2.4rem 0;
  }

  .home .hero_image {
    max-width: 100%;
    object-fit: cover;
  }

  .portfolio_section .inner_wrapper {
    flex-direction: column;
  }

  .portfolio_section img {
    width: 100%;
    margin: 0 0 2.4rem 0
  }

  .about {
    padding: 3.6rem 2.4rem;
  }
}